/.idea/dataSources.xml
/.idea/agricultureFlask.iml
/.idea/dataSources/0ee7e1fb-f0e0-41d3-9522-dbcce654ef49/storage_v2/_src_/schema/early_warning_system.jnwyvA.meta
/.idea/dataSources/0ee7e1fb-f0e0-41d3-9522-dbcce654ef49/storage_v2/_src_/schema/eviroment_data.dkO1EQ.meta
/capture/frame-0.jpg
/capture/frame-1.jpg
/capture/frame-2.jpg
/capture/frame-3.jpg
/capture/frame-4.jpg
/.idea/dataSources/0ee7e1fb-f0e0-41d3-9522-dbcce654ef49/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/misc.xml
/.idea/modules.xml
/.idea/dataSources/0ee7e1fb-f0e0-41d3-9522-dbcce654ef49/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/0ee7e1fb-f0e0-41d3-9522-dbcce654ef49/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sqldialects.xml
/.idea/dataSources/0ee7e1fb-f0e0-41d3-9522-dbcce654ef49/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/vcs.xml
/.idea/dataSources/0ee7e1fb-f0e0-41d3-9522-dbcce654ef49.xml
