# 忽略Python字节码文件
*.pyc
__pycache__/

# 忽略IDE项目文件
.idea/

# 忽略本地配置文件
config/*.pyc
config/__pycache__/

# 忽略静态文件
static/

# 忽略模板文件
templates/

# 忽略测试文件
tests/

# 忽略编辑器生成的文件
.vscode/

# 忽略其他临时文件
.DS_Store
